* {
    box-sizing: border-box;
}


body {
    font-family: 'Silkscreen', cursive, sans-serif;
    background-color: rgb(235, 223, 223);
    background-repeat: no-repeat;
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 500px;
    position: relative;
}

.inicio h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    color: #000;
    margin-top: 25px;
}

.inicio img {

    padding: 15px;
    margin: 10px;
    width: 400px;
    height: 400px;

}


footer {
    position: absolute;
    width: 100%;
    height: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}